.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bannerContainer{
  width:100vw;

  margin-bottom: 10px;
  overflow: hidden;
}

.wrapper {
  box-sizing: border-box;
  width: 100%;
  margin-top: 0;
}
.bannerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 52px;
  width: 100%;
}
.categorytabsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.listContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 56px 0;
  text-align: center;
  margin: 0 auto;
  gap: 30px;

  position: relative;
}
.fullListButton {
  width: 200px;
  height: 40px;
  border: 0px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px #00000026;

  position: absolute;
  top: 1800px;
  bottom: 56px;

  cursor: pointer;
}

.navigateButton {
  &:hover {
    background-color: #f4f4f4;
  }
}

.commentMain{
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 10px;
}
.selectedCategoryText{
  color: #D6282C;
}
