.dropdown {
  position: relative;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  user-select: none;

  &.open {
    border-radius: 25px;
  }
}

.selectedOption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: #000000;
  padding: 10px 15px;
  border-radius: 25px;
  border: 2px solid transparent;

  &.active {
    display: inline-block;
    color: #D6282C;
    border: 1px solid #D6282C;
  }
}

.arrow {
  margin-left: 5px;

  .selectedOption.active & {
    color: #000000;
  }
}

.optionsContainer {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 10;
  overflow: hidden;
}

.option {
  padding: 10px;
  font-size: 14px;
  color: #000;
  background-color: #fff;
  cursor: pointer;

  &:hover {
    background-color: #f0f0f0;
  }
}

.option + .option {
  border-top: 1px solid #ccc;
}
