:root {
  background-color: var(--background-color);
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: overlay;
  --point-color: #d6282c;
  --sub-color1: #ed8481;
  --sub-color2: #f9be51;
  --background-color: #fefbf8;
  --gray-color: #ededed;
  --dark-gray-color: #b0b0b0;
}
